<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link href="/static/style.css" rel="stylesheet">
</head>

<body>
    <h1>
        Заметки
    </h1>
    <button type="button" class="btn btn-primary">
        <a href="/todos/new">Создать заметку</a>
    </button>

    <form method="get" action="/" id="filter_form">
        <label> Skip:
            <input type="number" name="skip" value="{{ skip }}" min="0">
        </label>

        <label> Limit:
            <input type="number" name="limit" value="{{ limit }}" min="1">
        </label>

        <label> Status:
            <select name="is_completed" class="btn btn-primary">
                <option value="" {% if is_completed is none %} selected {% endif%}>
                    Показать все
                </option>

                <option value="true" {% if is_completed is true %} selected {% endif%}>
                    Выполненные
                </option>

                <option value="false" {% if is_completed is false %} selected {% endif%}>
                    Невыполненные
                </option>
            </select>
        </label>
        <button type="submit" class="btn btn-primary">Применить</button>
    </form>

    <div id="todos_container">
        {% if todos %}

        {% for todo in todos %}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{todo.title}}</h5>
                <p class="card-text">{{todo.description}}</p>
                <h6 class="card-subtitle mb-2 text-body-secondary">
                    {% if todo.is_completed is true%}
                    Выполнено
                    {%else%}
                    Не выполнено
                    {%endif%}
                </h6>
                <h6 class="card-subtitle mb-2 text-body-secondary">
                    {% if todo.reminder_at is none%}
                    
                    {%else%}
                    {{todo.reminder_at.strftime('%Y-%m-%d %H:%M')}}
                    {%endif%}
                </h6>
                <a href="/todos/{{ todo.id }}/update_form" class="card-link upd">Редактировать</a>
                <a href="/todos/{{ todo.id }}/delete_form" class="card-link del">Удалить</a>
            </div>
        </div>
        {% endfor %}

        {% else %}
        <p>no</p>

        {% endif %}
    </div>

</body>

</html>