<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>

<body>
    <h1>
        Заметки
    </h1>

    <div>
        <a href="/todos/new">Создать заметку</a>
    </div>

    <div>
        <a href="/todos/update">Оредактировать заметку</a>
    </div>

    <form method="get" action="/" id="filter_form">
        <label> Skip:
            <input type="number" name="skip" value="{{ skip }}" min="0">
        </label>

        <label> Limit:
            <input type="number" name="limit" value="{{ limit }}" min="1">
        </label>

        <label> Status:
            <select name="is_completed">
                <option value="" {% if is_completed is none %} selected {% endif%}>
                    Показать все
                </option>

                <option value="true" {% if is_completed is true %} selected {% endif%}>
                    Выполненные
                </option>

                <option value="false" {% if is_completed is false %} selected {% endif%}>
                    Невыполненные
                </option>
            </select>
        </label>
        <button type="submit">Применить</button>
    </form>

    <div id="todos_container">
        {% if todos %}
        <ul>
            {% for todo in todos %}
            <li>
                {{todo.title}}<br>
                {{todo.description}}<br>
                {{todo.is_completed}}
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>no</p>
        
        {% endif %}
    </div>

</body>

</html>